
/*

    1- common styles
    2- general styles
    3- section style
        /*3.0 header */
        /*3.1 home */
        /*3.2 About */
        /*3.3 Portfolio */
        /*3.3 Services */
        /*3.4 Prices */
        /*3.5 Team */
        /*3.6 Blog */
        /*3.7 Contact */




/* 1- common 
    - container
    - overlay
    - opacity hover
    - section header
    - section padding
    - hover effect1 (left to right)
    - hover effect2 (top to bottom)
*/

/* 2- general styles */
*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container
{
    width: 80%;
    margin: auto;
}
body
{
    font-family: 'Varela Round', sans-serif;
}
h1,h2,h3,h4,h5,h6
{
    font-family: 'montserrat' , sans-serif ;
}
a
{
    text-decoration: none;
}
button
{
    font-family: inherit; /* inherit font family of body font */
}
.section-header
{
    text-align: center;
}
.section-header .section-title
{
    text-transform: capitalize;
    font-size: 35px;
}
.pd-y
{
    padding: 120px 0;
}
.line
{
    width: 70px;
    height: 5px;
    background-color: #09c;
    display: block;
    margin: 0px auto 70px auto;
    
}
.clear
{
    clear: both;/* to solve float problem */ 
}
.overlay
{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.7);
}
.hover-opacity
{
    transition: opacity 0.5s;
}
.hover-opacity:hover
{
    opacity: 0.8;
}
.ltr-effect
{
    position: relative;
}
.ltr-effect::after
{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    z-index: -1;
    background: #333;
    transition: width 0.5s;
    -webkit-transition: width 0.5s;
    -moz-transition: width 0.5s;
    -ms-transition: width 0.5s;
    -o-transition: width 0.5s;
}
.ltr-effect:hover:after
{
    width: 100%;
}
.tb-effect
{
    position: relative;
}
.tb-effect::after
{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    height: 0%;
    width: 100%;
    z-index: -1;
    background: #333;
    transition: height 0.5s;
    -webkit-transition: height 0.5s;
    -moz-transition: height 0.5s;
    -ms-transition: height 0.5s;
    -o-transition: height 0.5s;
}
.tb-effect:hover:after
{
    height: 100%;
}

/*3.0 header*/
.header
{
    position: absolute;
    width: 100%;
    z-index: 1;
}
.header .logo
{
    width: 40%;
    float: left;
}
.header .logo img
{
    width: 20%;
    margin-top: 15px;
}
.header .nav
{
    width: 60%;
    float: left;
    list-style: none;
    text-align: right;
}
.header .nav > li
{
    display:inline-block;
    text-align: center;
}
.header .nav > li > a
{
    color: white;
    text-decoration: none;
    display: block;
    padding: 35px 10px;    
}
.header .nav > li a:after,
.header .nav > li a.active:after
{
    content: "";
    display: block;
    height: 4px;
    margin-top: 3px;
    background-color: #09c;
    transition: width 0.5s;
}
.header .nav li > a.active:after
{
    width: 100%;
}
.header .nav > li a:after
{
    width: 0;
}
.header .nav > li a:hover:after
{
    width: 100%;
}
.dropdown
{
    position: relative;
}
.dropdown-menu
{
    position: absolute;
    width: 100px;
    top: 70%;
    left: 10;
    padding: 10px 0px;
    background-color: #09c;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s , visibility 0.5s ;
    list-style: none;
}
.dropdown:hover .dropdown-menu
{
    opacity: 1;
    visibility: visible;
}
.dropdown-menu a
{
    color: #fff;

}


/*3.1 home */
.home
{
    height: 100vh;
    background-image: url("../images/background/background1.webp");
    background-size: cover;
    position: relative;
}
.home-content
{
    width: 65%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%); /* hero image */
    text-align: center;
}
.home .title
{
    color: #fff;
    font-size: 3.5rem;
    padding: 10px 0px;
    text-transform: uppercase;
}
.home-desc
{
    color: #fff;
    padding: 10px 0px;
    letter-spacing: 2px;
    line-height: 1.5;
}
.home .btn
{
    min-width: 160px;
    padding: 15px 0px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    margin: 15px 5px;
    font-size: 20px;
}
.home .btn-learn
{
    background-color: #09c;
    color: #fff;
}
/*3.2 About */
.about-content
{
    text-align: center;
    overflow: hidden;
    
}
.about-item
{
    float: left;
    width: 30%;
    border: 1px solid #e8e8e8;
    padding: 20px;
}
.about-item.mg
{
    margin: 0 5%;
}
.icon
{
    color: #09c;
    margin: 5px;
}
.about-item-title
{
    text-transform:capitalize ;
    margin: 10px 0;
    transition: color 0.5s;
    -webkit-transition: color 0.5s;
    -moz-transition: color 0.5s;
    -ms-transition: color 0.5s;
    -o-transition: color 0.5s;
}
.about-item-desc
{
    margin: 10px 0;
    line-height: 1.6;
    color: #999;
    transition: color 0.5s;
    -webkit-transition: color 0.5s;
    -moz-transition: color 0.5s;
    -ms-transition: color 0.5s;
    -o-transition: color 0.5s;
}
.about-item-link
{
    color: #09c;
    text-transform: capitalize;
    
}
.about-item:hover .about-item-title,.about-item:hover .about-item-desc
{
    color: #fff;
}
/*3.3 Portfolio */
.portfolio
{
    background-color: #f8f8f8;
}
.portfolio-item
{
    width: 30%;
    float: left;
    margin-bottom: 60px;
    position: relative;
}
.portfolio-item .layer-content
{
    position: absolute;
    background-color: rgba(0,0,0,0.7);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    color: #fff;
    opacity: 0;
    transition: opacity 0.5s;
    -webkit-transition: opacity 0.5s;
    -moz-transition: opacity 0.5s;
    -ms-transition: opacity 0.5s;
    -o-transition: opacity 0.5s;
    visibility: hidden;
}
.layer-content .layer-info
{
    position: absolute;
    width: 80%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    text-align: center;
}
.category
{
    color: #09c;
    text-transform: uppercase;
    display: block;
    margin: 10px;
    
}
.portfolio-item.mg
{
    margin: 0 5%;
}
.portfolio-item:hover .layer-content
{
    opacity: 1;
    visibility: visible;
}
.portfolio-item img
{
    width: 100%;
}
.layer-content-title
{
    font-size: 20px;
    margin-bottom: 10px;
    
}

.layer-info a i
{
    text-decoration: none;
    color: #09c;
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    background-color: cornsilk;
}
/* offer section */
.offer-content
{
    overflow: hidden;

}
.offer-item
{
    float: left;
    margin-bottom: 20px;
    width: 30%;
    border: 1px solid #e8e8e8;
    padding: 20px 15px 30px 70px;
    position: relative;
}
.offer-item.mg
{
    margin: 0px 5%;
}
.offer-item-title
{
    text-transform: capitalize;
    margin-bottom: 10px;
}
.offer-item .icon
{
    position: absolute;
    top: 25;
    left: 20;
    font-size: 30px;
}
.offer-item:hover .offer-item-title,.offer-item:hover .offer-item-desc
{
    color: #fff;
}
/*3.3 Services */
.service
{
    background-color:#f8f8f8 ;
}
.service-item
{
    float: left;
    width: 50%;
}
.service-items .section-title
{
    text-align: left;
    text-transform: capitalize;
}
.service-items .line
{
    margin: 0 0 70 0;
}
.service-item-desc
{
    font-size: 20px;
    color: #999;
    line-height: 1.6;
    padding-right: 10px;
}
.service-list
{
    list-style: none;
    margin-top: 30px;
}
.service-list li
{
    margin-top: 20px;
    font-size: 20px;
    color: #999;
}
.service-item-img img
{
    width: 100%;
}
.service-bollets
{
    text-align: center;
    list-style: none;
    margin-top: 10px;
}
.service-bollets > li
{
    width: 10px;
    height: 10px;
    background-color: #999;
    display: inline-block;
    margin-left: 20px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    transition: background-color 0.5s ;
    -webkit-transition: background-color 0.5s ;
    -moz-transition: background-color 0.5s ;
    -ms-transition: background-color 0.5s ;
    -o-transition: background-color 0.5s ;
}
.service-bollets > li:hover
{
    background-color: #09c;
}
.list-active
{
    background-color: #09c !important;
}
/*number*/
.numbers
{
    background-image: url('../images/background/background2.webp');
    background-size: cover;
    background-attachment: fixed;
    height: 300px;
    position: relative;
}
.numbers-items
{
    overflow: hidden;
    text-align: center;
    padding-top: 100px;
}
.number-item
{
    width: 25%;
    float: left;
}
.number-item h3
{
    font-size: 30px;
    color: #fff;
    padding: 10px 0;
}
.number-item span
{
    color: #fff;
    font-size: 20px;
}
/*3.4 Prices */
.pricing span.line
{
    margin-top: 10px;
}
.pricing-list
{
    list-style: none;
}
.pricing-list li
{
    padding: 10px 0;
    color: #999;
}
.pricing-plans
{
    overflow: hidden;
    text-align: center;
}
.pricing-item
{
    width: 30%;
    float: left;
    padding: 60px 10px;
    border: 1px solid #e8e8e8;
}
.pricing-item.mg
{
    margin: 0 5%;
}
.pricing-circle
{
    margin: 20px auto;
    border: 2px solid #09c;
    width: 100px;
    padding: 30px 0;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.pricing-circle .dollar
{
    font-weight: bold;
    font-size: 30px;
}

.pricing-btn
{
    margin-top: 40px;
    border: 1px solid #09c;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    transition: background-color 1s;
    -webkit-transition: background-color 1s;
    -moz-transition: background-color 1s;
    -ms-transition: background-color 1s;
    -o-transition: background-color 1s;
}
.pricing-item:hover .dollar,
.pricing-item:hover .month,
.pricing-item:hover .pricing-list li ,
.pricing-item:hover .pricing-item-text 
{
    color:#fff;
}
.pricing-item:hover .pricing-btn
{
    background-color: #09c;
    color : #fff;
}

/*testimonial*/

.testimonial
{
    position: relative;
    background-image: url('../images/background/background3.webp');
    background-size: cover;
    background-attachment: fixed;
    height: 400px;
}
.testimonial-content
{
    overflow: hidden;
    padding: 120px 0;
}
.testimonial-item
{
    width: 50%;
    float: left;
    color: #fff;
}
.testimonial-top
{
    padding: 20px 2 40px 90px;
    position: relative;
}
.testimonial-top > span
{
    color: #09c;
}
.testimonial-top img
{
    position: absolute;
    top: 10px;
    left: 10px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.testimonial-desc
{
    width: 80%;
    margin-left: 30px;
    line-height: 1.7;
}
/*3.5 Team */
.team-content
{
    overflow: hidden;
}
.team-item
{
    width: 30%;
    float: left;
    background-color: #e8e8e8;
    padding: 20px 15px;
    text-align: center;
}
.team-item.mg
{
    margin: 0 5%;
}
.team-img
{
    width: 90%;
    margin: auto;
    position: relative;
}
.team-overlay
{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.7);
    opacity: 0;
    visibility: hidden;
}
.team-overlay a
{
    display: block;
    width: 40px;
    height: 40px;
    background-color: #09c;
    color: #fff;
    padding: 10px 0;
    margin-left: auto;
}
.team-img img
{
    width: 100%;

}
.team-info-title
{
    color: #222;
    padding: 10px 0;
    font-size: 25px;
    transition: color 1s;
    -webkit-transition: color 1s;
    -moz-transition: color 1s;
    -ms-transition: color 1s;
    -o-transition: color 1s;
}
.team-info-text
{
    color: #999;
    transition: color 1s;
    -webkit-transition: color 1s;
    -moz-transition: color 1s;
    -ms-transition: color 1s;
    -o-transition: color 1s;
}
.team-item:hover .team-overlay
{
    visibility: visible;
    opacity: 1;
} 
.team-item.tb-effect
{
    z-index: 1;
}
.team-item:hover .team-info-title
{
    color: #09c;
}
.team-item:hover .team-info-text
{
    color: #fff;
}
/*3.6 Blog */
.blog
{
    background-color: #f8f8f8;
}
.blog-list
{
    list-style: none;
}
.blog-list li
{
    display: inline-block;
    margin: 10px 5px;
}
.blog-list li i
{
    margin-right: 5px;
    color: #09c;
}
.blog-content
{
    overflow: hidden;
}
.blog-item
{
    width: 30%;
    float: left;
    background-color: #fff;
}
.blog-item.mg
{
    margin: 0 5%;
}
.blog-item-img img
{
    width: 100%;
}
.blog-info
{
    padding: 20px;
}
.blog-title
{
    font-weight: bold;
    padding: 20px 0;
    font-size: 25px;
}
.blog-desc
{
    color: grey;
    padding: 5px 0;
}
.blog-link
{
    color: #09c;
}
/*3.7 Contact */
.contact-content
{
    overflow: hidden;
    text-align: center;
}
.contact-item
{
    width: 30%;
    float: left;
}
.contact-item.mg
{
    margin: 0 5%;
}
.contact-item .contact-item-title
{
    font-size: 25px;
    padding: 20px 0;
}
.contact-item-desc
{
    color: #333;
}
form
{
    padding: 100px;
    width: 80%;
    margin: auto;
}
.form-input
{
    margin: 20px;
    
}
.form-input input
{
    padding: 10px 20px;
}
input
{
    background-color: #e8e8e8;
    border: 1px solid #09c;
    width: 100%;
    height: 50px;
}
input.mg
{
    float: left;
    width: 45%;
}
input.mg1
{
    margin-left: 10%;
    width: 45%;
}
textarea
{
    background-color: #e8e8e8;
    border: 1px solid #09c;
    width: 100%;
    height: 50px;
    padding: 10px 20px;
}
input,textarea
{
    color: #09c;
    font-size: 20px;
    text-transform: uppercase;
    font-family: 'Varela Round', sans-serif;
}
.contact-btn
{
    background-color: #09c;
    color: #fff;
    border: 0;
    padding: 10px 20px;
    display: block;
    margin: 20px auto;
    font-size: 20px;
    font-family: 'Varela Round', sans-serif;

}
/*footer*/
.footer
{
    background: #1c1d21;
    text-align: center;
    padding: 30px;
}
.footer-list
{
    list-style: none;
}
.footer-list li
{
    display: inline-block;
    padding: 30px 10px;
}
.footer-list li i
{
    color: #09c;
}
.footer p
{
    color: #fff;
}